<?xml version="1.0"?>
<config>
  <modules>
    <Cardsave_Cardsaveonlinepayments>
      <version>0.1.0</version>
    </Cardsave_Cardsaveonlinepayments>
  </modules>
  
  <global>
    <models>
      <cardsaveonlinepayments>
        <class>Cardsave_Cardsaveonlinepayments_Model</class>
      </cardsaveonlinepayments>
    </models>
    <resources>
      <cardsaveonlinepayments_setup>
        <setup>
          <module>Cardsave_Cardsaveonlinepayments</module>
		  <class>Cardsave_Cardsaveonlinepayments_Model_Resource_Eav_Mysql4_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </cardsaveonlinepayments_setup>
      <cardsaveonlinepayments_write>
        <connection>
          <use>core_write</use>
        </connection>
      </cardsaveonlinepayments_write>
      <cardsaveonlinepayments_read>
        <connection>
          <use>core_read</use>
        </connection>
      </cardsaveonlinepayments_read>
    </resources>
    <blocks>
      <cardsaveonlinepayments>
        <class>Cardsave_Cardsaveonlinepayments_Block</class>
      </cardsaveonlinepayments>
      <payment>
        <rewrite>
          <info_cc>Cardsave_Cardsaveonlinepayments_Block_Payment_Info_Cc</info_cc>
        </rewrite>
      </payment>
	  <checkout>
		<rewrite>
		  <cart_totals>Cardsave_Checkout_Block_Cart_Totals</cart_totals>
		</rewrite>
	  </checkout>
	  <sales>
		<rewrite>
		  <order_totals>Cardsave_Sales_Block_Order_Totals</order_totals>
		</rewrite>
	  </sales>
      <adminhtml>
        <rewrite>
          <sales_order_payment>Cardsave_Cardsaveonlinepayments_Block_Adminhtml_Sales_Order_Payment</sales_order_payment>
        </rewrite>
      </adminhtml>	  
    </blocks>
    <!-- Define the helper class type -->
    <helpers>
      <Cardsaveonlinepayments>
        <class>Cardsave_Cardsaveonlinepayments_Helper</class>
      </Cardsaveonlinepayments>
      <cardsaveonlinepayments>
        <rewrite>
          <data>Cardsave_Cardsaveonlinepayments_Helper_Data</data>
        </rewrite>
      </cardsaveonlinepayments>
    </helpers>
  </global>

  <adminhtml>
    <layout>
      <updates>
        <cardsaveonlinepayments>
          <file>cardsaveonlinepayments.xml</file>
        </cardsaveonlinepayments>
      </updates>
    </layout>
  </adminhtml>
  <frontend>
    <secure_url>
      <cardsaveonlinepayments>/cardsaveonlinepayments/standard</cardsaveonlinepayments>
    </secure_url>
    <routers>
      <cardsaveonlinepayments>
        <use>standard</use>
        <args>
          <module>Cardsave_Cardsaveonlinepayments</module>
          <frontName>cardsaveonlinepayments</frontName>
        </args>
      </cardsaveonlinepayments>
    </routers>
    <translate>
      <modules>
        <Cardsave_Cardsaveonlinepayments>
          <files>
            <default>Cardsave_Cardsaveonlinepayments.csv</default>
          </files>
        </Cardsave_Cardsaveonlinepayments>
      </modules>
    </translate>
  </frontend>
  
  <!-- declare default configuration values for this module -->
  <default>
    <payment>
      <cardsaveonlinepayments>
        <active>1</active>
        <model>cardsaveonlinepayments/direct</model>
        <title>CardSave</title>
        <hashmethod>sha1</hashmethod>
        <paymentprocessordomain>cardsaveonlinepayments.com</paymentprocessordomain>
        <paymentprocessorport>4430</paymentprocessorport>
        <hostedpaymentactionurl>https://mms.cardsaveonlinepayments.com/Pages/PublicPages/PaymentForm.aspx</hostedpaymentactionurl>
        <transparentredirectactionurl>https://mms.cardsaveonlinepayments.com/Pages/PublicPages/TransparentRedirect.aspx</transparentredirectactionurl>
        <serverpullresultactionurl>https://mms.cardsaveonlinepayments.com/Pages/PublicPages/PaymentFormResultHandler.ashx</serverpullresultactionurl>
        <payment_action>authorize_capture</payment_action>
        <mode>direct</mode>
        <cv2mandatory>1</cv2mandatory>
        <address1mandatory>1</address1mandatory>
        <citymandatory>1</citymandatory>
        <statemandatory>1</statemandatory>
        <postcodemandatory>1</postcodemandatory>
        <countrymandatory>1</countrymandatory>
        <resultdeliverymethod>POST</resultdeliverymethod>
        <allowspecific>0</allowspecific>
		<customstockmanagementenabled>1</customstockmanagementenabled>
		<takePaymentInStoreBaseCurrency>1</takePaymentInStoreBaseCurrency>
      </cardsaveonlinepayments>
    </payment>
  </default>
</config>